<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MonkeyBusiness</title>

    {% load static %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/index/">Monkey Business</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_superuser %}
                    <li>
                        <a class="page-scroll" href="/administrator/">Administration</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="page-scroll" href="/cursus/">Cursus</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index/#features">Languages</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/login/">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/register/">Register</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="page-scroll" href="/about/">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="/purchases/">purchases</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/home/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/logout/">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block content %}

    {% endblock %}
    <script src="{% static "js/JQuery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/new-age.js" %}"></script>
</body>
</html>
