{% extends "base.html" %}
{% block content %}
    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <h1>Down here you can find all available courses!</h1>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <center>
                    <table class="table table-responsive">
                    {% load poll_extras  %}
                    {% for course in courses %}
                        <tr>
                            {% for attr in course %}
                                <td>{{ attr }}</td>
                            {% endfor %}
                            <td><a href="/viewcourse/{{ langs|get_at_index:forloop.counter0 }}/"><button class="btn btn-default">Purchase</button></a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </center>
            </div>
        </div>
    </section>
{% endblock content %}