{% extends "base.html" %}
{% block content %}
{% if user.is_superuser %}
    <section id="download" class="download bg-primary text-center">
            <div class="container">
                <div class="row">
                    <h1>Edit Users!</h1>
                </div>
            </div>
        </section>
        <section id="features" class="features">
            <div class="container">
                <div class="row">
                    <center>
                        <form action="{% url "makestaff" %}" method="post">
                            {% csrf_token %}
                            <table class="table" style="width: 400px;">
                                {% for user in users %}
                                    <tr>
                                        <td><a href="#">username: {{ user.get_username }}</a></td>
                                        <td>is moderator: {{ user.is_staff }}</td>
                                        <td><input type="checkbox" name="{{ user.get_username }}" {% if user.is_staff %} checked {% endif %}></td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <input class="btn btn-default" type="submit" value="Save changes">
                        </form>
                    </center>
                </div>
            </div>
        </section>
    {% else %}
        <h1>No permission</h1>
    {% endif %}
{% endblock %}