{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <section id="download" class="download bg-primary text-center">
            <div class="container">
                <div class="row">
                    <h1>Home</h1>
                </div>
            </div>
        </section>
        <section id="features" class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-3 col-lg-6">
                        <form class="form-signin" action="{% url "passwordSubmit" %}" method="post">
                            {% csrf_token %}
                            <p class="form-signin-heading">Change password: {{ user.get_username }}</p>
                            <input type="password" class="form-control" name="passwordI" placeholder="Password" required="" autofocus="" /><br>
                            <input type="password" class="form-control" name="passwordII" placeholder="Password" required=""/><br>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
                        </form>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </section>
    {% else %}
        <section id="download" class="download bg-primary text-center">
            <div class="container">
                <div class="row">
                    <h1>Please Login</h1>
                </div>
            </div>
        </section>
        <section id="features" class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-3 col-lg-6">
                        <a href="/login/">Login here!</a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}