{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <section id="download" class="download bg-primary text-center">
            <div class="container">
                <div class="row">
                    <h1>Home</h1>
                </div>
            </div>
        </section>
        <section id="features" class="features">
            <div class="container">
                <div class="row">
                    <center>
                        <p>Logged in as: {{ user.get_username }}</p>
                    </center>
                </div>
            </div>
        </section>
    {% else %}
        <section id="download" class="download bg-primary text-center">
            <div class="container">
                <div class="row">
                    <h1>Please Login</h1>
                </div>
            </div>
        </section>
        <section id="features" class="features">
            <div class="container">
                <div class="row">
                    <center>
                        <a href="/login/">Login here!</a>
                    </center>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}