<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

{% extends "base.html" %}
{% block content %}
    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <h1>{{ lang }}</h1>
                <form action="{% url "purchasecourse" %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-default" value="purchase"/>
                    <input type="hidden" value="{{ course.0.0 }}" name="courseid">
                    <input type="hidden" value="{{ user.id }}" name="userid">
                    <input type="hidden" value="{{ course.0.2 }}" name="lang">
                    <input type="hidden" value="{{ course.0.3 }}" name="price">
                </form>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <center>
                    {% for attr in course %}
                        {% for att in attr %}
                            <p>{{ att }}</p>
                        {% endfor %}
                    {% endfor %}
                </center>
            </div>
        </div>
    </section>
{% endblock content %}